@import url(http://fonts.googleapis.com/css?family=Arvo);

body {
    background-color: #EFE9C6;
    color: #1D2536;
    font-family: 'Arvo', serif;
}

a {
    color: #9BBD88;
}

a:hover {
    color: #9BBD88;
}

h1 {
    font-size: 3.5em;
}

.sidebar {
    margin-top: 10px;
}

#footer {
    background-image: url("img/figures.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    margin-top: 50px;

    height: 280px;

    font-size: 2em;
    position: relative;
}

#footer img {
    height: 80px;
    margin-top: 160px;
    margin-bottom: -10px;
}
